@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    background-color: #f9fafc;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-family: "notoSans";
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset !important;
    -webkit-text-fill-color: #000 !important;
  }
}

@font-face {
  font-family: "notoSans";
  src: url("./assets/fonts/NotoSansJP-Regular.otf") format("opentype");
}
